//Collapsible Search feature Styling Sheet
body {
    font: 80% ;
}
#collapsible-panels h2 {
    width: 450px;
    margin:0;
    padding: 15px 0;
    background: url(../images/open.jpg) no-repeat left center;
    border-top: 10px solid #F9F9F9;
}
#collapsible-panels h2.active {
    background: url(../images/close.jpg) no-repeat left center;
}
#collapsible-panels h2 a {
    padding: 0 0 0 35px;
    text-decoration:none;
    color: #00000;
}
#collapsible-panels div {
    width: 450px;
} 
            