/*-------------*/
/*CUSTOM STYLES*/
/*-------------*/
.user_button{
    margin-top: -28px;
    padding-left: 10px;
    background-color: #fff;
    float: right;
    opacity: 1;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}
.user_button:hover{
    opacity: .8;
    cursor: pointer;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
.user_button:active {
    margin-top: 8px;
}
.login_details h1 {
background-color: #4D1979; color: #FFF;
width: 50px;
font-size: 50px;
word-wrap: break-word;
line-height: 1.3em;
}
.personal_details h1 {
background-color: #999; color: #FFF;
width: 50px;
font-size: 50px;
word-wrap: break-word;
line-height: 1.3em;
}
.login_details:hover, 
.login_details input[type="text"]:hover, 
.login_details input[type="password"]:hover {
    border-left: 7px solid #999;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.login_details input[type="text"]:focus,
.login_details input[type="password"]:focus{
    border-left: 7px solid #999;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.personal_details:hover, 
.personal_details input[type="text"]:hover{
    border-left: 7px solid #4D1979;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.personal_details input[type="text"]:focus{
    border-left: 7px solid #4D1979;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


/*REVIEW PAGE STYLE STARTS HERE*/
.publish_button{
    margin-top: -9px;
    padding-left: 10px;
    background-color: #fff;
    float: right;
    opacity: 1;
    padding: 12px 13px 13px 13px; margin-top: -29px;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}
.publish_button:hover{
    opacity: .8;
    cursor: pointer;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
.publish_button:active{
    margin-bottom: 5px;
}
.error-message{
    font-size: 15px;
    color: #FE2232;
}

table.pending_case {width:100%;border:1px solid #999;}
.pending_case th{background-color:#999;color:#fff;
    padding:15px 0px 15px 0px;
    border-right:1px solid #666;
    text-align: center;
    font-size: 15px;
}
.pending_case td{
    font-size: 14px;
    border-top: 1px solid #999;
    text-align: left;
    padding: 5px;
}

.pending_case .toggle_case:hover{background-color: #4D1979; color: #FFF; 
  cursor: pointer;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}
.pending_case .toggle_case.clicked{
  background-color: #4D1979; 
  color: #FFF;
  border-left: 5px solid #4D1979;
}
.pending_case .toggle_case:hover td, 
.pending_case .toggle_case.clicked td{
  color: #FFF;
}
.selected_case{
  -webkit-animation: fadeIn 0.5s; 
  -moz-transition: fadeIn 0.5s;
  animation: fadeIn 0.5s;

/*  -webkit-animation: fadeOutLeft 0.8s; 
  -moz-transition: fadeOutLeft 0.8s;
  animation: fadeOutLeft 0.8s;*/
}
.upload_section{
    margin-left: -80px;
    width: 400px;
    border-right: 1px solid #DCDCDC;
}
.upload_section .btn-default {
    padding: 10px;
    min-width: 200px;
    border-radius: none;
    background-color:#DCDCDC; color: #777;
    border: 1px solid #777;
}
.upload_section .btn-default:hover {
    color: #FFF;
    background-color: #4D1979;
    border-color: #4D1979;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.upload_section input[type="submit"]{
    width: 100px;
    padding: 1em 0em;
    outline: none;
    background-color: #4D1979;
    border: 1px solid #4D1979;
    color: #fff;
}
.upload_section input[type="submit"]:hover{
    background-color:#dcdcdc; color: #777;
    border: 1px solid #777;
     transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
}
.upload_section input[type="submit"]:active{
    margin-top: 8px;
}

/*======================*/
/*FORM FIELDSET STYLING*/
/*====================*/
.case_top_bar{
}
.case_top_bar h3{
    padding-bottom: 10px;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCC;
}

.top_bar_dash h5{
    color: #FFF;
    padding-top: 7px;
    border-top: 1px solid #777;
}
.progress strong{
  font-size: 15px;
}
.active_progress strong{
    text-transform: uppercase;
}
.idle{
  color: #FFF;
  background-color: #999;
  border-left: 1px solid #DCDCDC;
}


/*custom font*/

/*form styles*/
#form_style {
    float: none;
    min-width: 360px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#form_style fieldset {
    background: #FFF;
    box-shadow: 0 0 15px 3px #CCC;
    padding: 0px 20px 20px 20px;
    width: 100%;
    margin-bottom: 50px;
}
/*headings*/
#form_style h2{
    box-shadow: 0 0 15px 4px #CCC;
    text-transform: uppercase;
    background-color: #4D1979;
    text-shadow:0 1px 0 black;
    letter-spacing: 1px;
    text-align:center;
    position:relative;
    font-size:23px;
    padding: 30px 0;
    margin: auto;
    color: #FFF;
}
#form_style label {
    font-size:15px;
    color:#4D1979;
    display:block;
    padding:9px;
}
/*Hide all except first fieldset*/
#form_style fieldset:not(:first-of-type) {
  display: none;
}
#form_style input[type="button"]:not(:first-of-type) {
    /*padding-bottom: 50px;*/
    /*margin-top: 20px;*/
    /*border-top: 10px solid #DCDCDC;*/
}
/*inputs*/
/*#form_style input, #form_style textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}*/
/*buttons*/
#form_style .action-button {
    width: 30%;
    padding: 1em 0em;
    outline: none;
    background-color: #DCDCDC;
    border: 1px solid #777;
    color: #777;
}
#form_style .action-button:hover {
    background-color:#00BFFF; color: #FFF;
    border: 1px solid #00BFFF;
     transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
}
.case_creation_form input[type="submit"] {
    width: 30%;
    padding: 1em 0em;
    outline: none;
    background-color: #4D1979;
    border: 1px solid #4D1979;
    color: #fff;
}
.case_creation_form input[type="submit"]:hover {
    background-color:#dcdcdc; color: #777;
    border: 1px solid #777;
     transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
}
.case_creation_form input[type="submit"]:active, #form_style .action-button:active {
        margin-left: 10px;
}

.case_creation_bottom input[type="submit"]{
    display: inline;
}

/*--media styles--*/
@media(max-width:992px){
    .user_info {
       margin-top: 50px; 
    }
}
@media(max-width:550px){
    .top_bar_dash h4, .top_bar_left h4 {
        text-align: left;
        font-size: 15px;
        margin-top: 3px;
    }
}
@media(max-width:400px){
    .top_bar_dash h4, .top_bar_left h4 {
        font-size: 11px;
        margin-top: 8px;
    }
}


